{# purpose of this template: inclusion template for display of related graphics and sound #}
{% trans_default_domain 'graphicsAndSound' %}
{% set hasAdminPermission = permissionHelper.hasComponentPermission('graphicsAndSound', constant('ACCESS_EDIT')) %}
<h5>
    {{ item|paustianmelodymixermodule_formattedTitle }}
</h5>
